*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/90daf0fffcae3ddcb3313f372f6223e0 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/74d50bb048ca8776e7ba676f20da59ad filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/34a84e7f7777575734700e412e471610 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/ec523e8767aa5f35e4a68dc1e2aef9ef filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/822f85a7cffcb73ddbaa5ce339f0d839 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/18a420ca529cb405790482e5a51019af filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/a4029942343f366a9ab4923f16c846d6 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/1408193d9ba25eb7439a252fa57e9a64 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/e1b92796a3fe59667a542a4e9e993f7c filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/63f1b4399a48be3e55018e7c91a9efce filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/63aa91a9e174d917e998d388e8d0fd89 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/e8c509c703132b84b296b222421c007d filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/8069bd3517cb2190ea0a2ee5149fd20f filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/be90ab6973d0b800d22e81fba6a117ab filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/9602809d565cd24cad2e7e6e189edac2 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/bbdaf78062da1439a5054804cb88bb16 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/e0000b0d3126ff8ab570710c35badb63 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/767eece64718db7f60d198d549a3f2bb filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/4dcb4ab90d5f2afef52cb9eff89f3057 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/9fb887fbb580e8bd00c72b239e66744f filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/c5f8004cf1827b2d8aa42748b1689540 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/6903cc5cc61d7c3bc694c33f3ee95e00 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/d2939ddd178583addfa051337734d5ff filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/0f2956a0c285b57be640ebbeb9dd58ab filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/cdb9e7e3a66c5b0a128e2a0925977952 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/31bb4d7cc87ca3e610e5e372ae5efc8a filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/213ccc9feb3ee8c7f59683daf514cb3c filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/5975d12def211def6250e4f9f89ab885 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/34f894e1b8892e0577cf4c5b82f20905 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/1a6697e22ea3ca044efd27419376d904 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/034c402fa36ff3367aeb8f592f1de5c7 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/7a6d391c0ef722b695da99a4b0f25b6e filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/d5a8f204604624f91d44b0dd73ca233e filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/92c318839411dc55154bdba30a8e7d99 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/079caa88c9159e355493f28201d93f06 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/9692bb3bf9a63cd15bf43b48ec50d91f filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/f64c7bf9862b9c12588a6660945fa579 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/601d073cf592d17066b07e0cf29d1a73 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/14dfebdff55320dcbed40203f68133f9 filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/c16e7ad7f68d798cd805fc71f1f4c82d filter=lfs diff=lfs merge=lfs -text
ocdbt.process_0/d/6ab84140dd76a5ef5ddd7a336c74974e filter=lfs diff=lfs merge=lfs -text
IT_27B_Q4_0_final_q4_0.gguf filter=lfs diff=lfs merge=lfs -text
mmproj-model-f16.gguf filter=lfs diff=lfs merge=lfs -text
mmproj-model-f16-27B.gguf filter=lfs diff=lfs merge=lfs -text
gemma-3-27b-it-q4_0.gguf filter=lfs diff=lfs merge=lfs -text
